name: flutter_mongo_stitch_web
description: The web implementation of flutter_mongo_stitch plugin
version: 0.2.0
homepage: https://github.com/kfiross/flutter_mongo_stitch_platform_interface

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  # For supporting web sdk and js-dart interop
  js: ^0.6.2

  flutter_mongo_stitch_platform_interface: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlutterMongoStitchPlugin
        fileName: flutter_mongo_stitch_web.dart
